$title-large: 3rem;            // для заголовков
$title-middle: 2.5rem;
$title-mobile: 2rem;

$text-large: 2.3rem;          // для текста
$text-middle: 1.8rem;
$text-mobile: 1.2rem;

$sub-text-large: 1.8rem;          // для мобилок
$sub-text-middle: 1.4rem;
$sub-text-mobile: 1rem;