$bg-color: #c7eeee; // цвет фона
$border-color: #7a7a7a; // цвет границ
$bg-color-white: #fff; // цвет поля

$label-color: #99befa; // цвет input label
$input-color: #000000; // цвет input value
$invalid-color: #56221e; // цвет невалидного значения
$primary-btn-color: #c0c0bf8a; // цвет кнопки
$secondary-btn-color: #5b7bae; // цвет кнопки